<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Vison Playground</h1>

	<form method="POST" action="/" name="Search">
	    {{ form.csrf_token }}
	    {{ form.hidden_tag() }}
	    {{ form.name.label }} {{ form.name(size=30) }}
	    <input type="submit" value="submit">
	</form>

	{% if results %}
        <table>
            <thead>
              <h3>Prediction Results</h3>
            </thead>  
            <tbody>
                {% for link in results %}
                <tr> 
                    <td>{{ link[0] }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    {% endif%}



</body>
</html>